$gray: #454545;
$galacticBlue: #5B58FF;

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;  
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  color: $gray;
  overflow-x: hidden;
}

.splash {
  margin: 0;
  padding: 0;
}

.areas-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;    

  * {
    margin: 0;
    font-size: calc(100% + .01vw);
    padding: 5px 8px;
    color: $gray;
    text-decoration: none;
  }
}

.hero {  
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 1.5rem;    

  &__secondary-header {
    font-weight: 500;
  }

  .wrap { 
    width: 70vw;
    margin: 0 auto;

    .hero-link {
      color: $galacticBlue;
      text-decoration: none;
    }

    .name {
      font-weight: 600;
    }

    .hero-title {
      font-weight: 500;
      font-size: calc(100% + 2vw);
      line-height: 45px;
      text-align: center;              
    }
  }    
}

.work__container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  &__wrapper {
   position: relative;
   display: block;  
   font-size: 0; //To change in code
   line-height: 0; 
   margin: 20px;

    .project-title {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
    
    .image-placeholder {      
      overflow: hidden;
      line-height: 0;

      &__image {
        width: 100%;
        height: auto;
      }
    }
  }
}

.project-title h3 {
  position: absolute;  
}

.skills__container-skills {
  width: 60vw;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;  

  &__list-wrapper {
    margin: 5px 0;

    &__subtitle {
      color: $galacticBlue;
      font-weight: 500;
    }
  }
}